<!--<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h3 class="text-center">Welcome Back</h3>

        <form method="POST" action="/login">
            <div class="mb-3">
                <label for="email" class="form-label"><strong>Email:</strong></label>
                <input type="email" id="email" name="email" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label"><strong>Password:</strong></label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</div> -->


<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h3 class="text-center">Welcome Back</h3>

        <form method="POST" action="/login">
            <div class="mb-3">
                <label for="email" class="form-label"><strong>Email:</strong></label>
                <input type="email" id="email" name="email" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label"><strong>Password:</strong></label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3">
            <a href="/forgot-password">Forgot Password?</a>
        </p>

        <p class="text-center">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</div>
